.chackoutMaindiv{
    padding: 30px;
    margin: 15px 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:whitesmoke;
    
}
.userName{
    color: limegreen;
   font-size: 22px;
   font-weight: bolder;
   margin-right: 900px;
}
.title{
    margin-right: 960px;
    color:limegreen;
}
.table th{
    background-color: lightsteelblue;
     color: black;
     font-weight: bolder;
}  
table{
   
    width: 90%;
    
   
}

th{
    text-align: start;
    color: gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    
}

/* td input{
    position: relative;
    left: 30px;
    padding: 10px;
    font-weight: bolder;
    outline: none;
    
} */

.stylenew:nth-child(odd){
    background-color: lightsteelblue;
    font-size: 23px;
    font-weight: bolder;
    line-height: 40px;
   
}

.chkButton{
    background-color: limegreen;
    border-radius: 4px;
    color: rgb(22, 17, 17);
    border: 1px solid gray;
    outline: none;
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-left: 900px;
}